html {
    overflow-x: hidden;
}

body{
    background-color: #fff;
    color: #333;
    @include font-gothic;
    line-height: 1.5;
    font-size: 16px;
    font-feature-settings: "palt";
}

a{
    color: #333;
    text-decoration: none;
    @include transition;
    &:hover{
        text-decoration: none;
    }
}

p {
    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
}

img{
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

br {
    &.pc {
        @include mq() {
            display: none;
        }
    }
    &.sp {
        display: none;
        @include mq() {
            display: inline;
        }
    }
}

ul {
	padding: 0;
	margin: 0;
}

.sp-block {
    display: none !important;
    @include mq() {
        display: block !important;
    }
}

.sp-flex {
    display: none !important;
    @include mq() {
        display: flex !important;
    }
}

.pc-block {
    display: block !important;
    @include mq() {
        display: none !important;
    }
}

.pc-flex {
    display: flex !important;
    @include mq() {
        display: none !important;
    }
}

.gap0 {
    gap: 0;
}

.mv-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mv-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.ph-20 {
    padding-left: 20px;
    padding-right: 20px;
}


.j-fe {
    justify-content: flex-end;
}
    
