body{
    background-color: #fff;
    color: #333;
    @include font-gothic;
    line-height: 1.5;
    font-size: 16px;
    font-feature-settings: "palt";
}

a{
    color: #333;
    text-decoration: none;
    @include transition;
    &:hover{
        text-decoration: none;
    }
}

p {
    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
}

img{
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

br {
    &.pc {
        @include mq() {
            display: none;
        }
    }
    &.sp {
        display: none;
        @include mq() {
            display: inline;
        }
    }
}

ul {
	padding: 0;
	margin: 0;
}

.gap0 {
    gap: 0;
}

.mv-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.j-fe {
    justify-content: flex-end;
}

.sa-c {
    space-align: center;
}
    
