$breakpoints: (
	'sp': 'screen and (max-width: 480px)', //スマートフォン ブレイクポイント
	'pc': 'screen and (max-width: 767px)' //一般PC ブレイクポイント
) !default;

$primary_color: #f00;

@font-face {
	font-family: 'MyYuGothicM';
	font-weight: normal;
	src: local('YuGothic-Medium'), /* PostScript Name = localの正式な指定方法 */
	local('Yu Gothic Medium'),     /* PostScript Nameを認識できないChrome用にFull Nameを指定 */
	local('YuGothic-Regular');     /* 游ゴシックMediumが存在しないWindows8.1用 */
}

$font-gothic: YuGothic, 'Yu Gothic', sans-serif;
$font-mincho: YuMincho, 'Yu Mincho', serif;

@mixin mq($breakpoint: pc) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin main-width {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

@mixin transition {
    transition : 0.3s all;
}
