$breakpoints: ('sp': 'screen and (max-width: 480px)', //スマートフォン ブレイクポイント
    'mobile': 'screen and (max-width: 767px)', //一般PC ブレイクポイント
    'pc': 'screen and (min-width: 768px)', //一般PC ブレイクポイント
    'wide': 'screen and (min-width: 1280px)' //1280px以上の画面
) !default;

@font-face {
    font-family: 'MyYuGothicM';
    font-weight: normal;
    src: local('YuGothic-Medium'),
        /* PostScript Name = localの正式な指定方法 */
        local('Yu Gothic Medium'),
        /* PostScript Nameを認識できないChrome用にFull Nameを指定 */
        local('YuGothic-Regular');
    /* 游ゴシックMediumが存在しないWindows8.1用 */
}

@mixin font-gothic {
    font-family: 'Yu Gothic', sans-serif;
}

@mixin font-mincho {
    font-family: 'Yu Mincho', serif;
}

$main_width: 1280px;
$mid_width: 960px;

@mixin mq($breakpoint: mobile) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin main-width {
    width: $main_width;
    max-width: 100%;
}

@mixin mid-width {
    width: $mid_width;
    max-width: 100%;
}

@mixin margin-auto {
    margin-left: auto;
    margin-right: auto;
}

@mixin transition {
    transition: 0.3s all;
}
