$breakpoints: (
	'sp': 'screen and (max-width: 480px)', //スマートフォン ブレイクポイント
	'pc': 'screen and (max-width: 767px)' //一般PC ブレイクポイント
) !default;

$primary_color: #f00;

$font-family: 'Noto Sans JP', sans-serif;

@mixin mq($breakpoint: pc) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin main-width {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}

@mixin transition {
    transition : 0.3s all;
}